* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
:root {
  --bg-color: hsl(45, 10%, 92%);
  --second-bg: white;
  --main-color: hsl(145, 60%, 40%);
  --color: hsl(0, 0%, 10%);
}
html,
body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
body {
  background-color: var(--bg-color);
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
}
.myprofile {
  width: 100%;
  max-width: 300px;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  height: 100vh;
  background-color: hsl(45, 10%, 96%);
  padding: 15px;
  color: var(--color);
}
@media (min-width: 1300px) {
  .myprofile {
    display: block;
    width: 100%;
    max-width: 300px;
  }
}
.myprofilebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.myprofilebox a i {
  font-size: 30px;
  color: hsl(145, 60%, 40%);
}
.myprofilebox a i:hover {
  color: hsl(145, 60%, 50%);
}
.myprofilebox h1 {
  font-size: 2rem;
}
.myprofile div {
  margin: 25px 0px;
  border-bottom: 1px solid black;
}
.myprofile div h1 {
  font-size: 28px;
  margin-bottom: 15px;
}
.myprofile div p {
  font-size: 16px;
  padding-bottom: 15px;
}
.myprofile div strong {
  display: block;
  padding: 5px;
}
.mainsection {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  width: 100%;
  max-width: 600px;
  color: var(--color);
  background-color: hsl(45, 10%, 96%);
}
.mainsection header {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 16px;
  position: fixed;
  background-color: hsl(45, 10%, 96%);
  padding: 15px;
  width: 100%;
  max-width: 600px;
}
.mainsection header i {
  color: var(--main-color);
}
.mainsection header i:hover {
  color: hsl(145, 60%, 50%);
}
.container {
  padding: 15px;
}

.balancebox {
  align-items: center;
  text-align: center;
  color: black;
  font-size: 16px;
  background-color: var(--second-bg);
  border-radius: 10px;
  padding: 20px 0px;
  margin-bottom: 20px;
  margin-top: 100px;
}
.balancebox p {
  padding-bottom: 10px;
  font-size: 16px;
  align-items: center;
}
.balancebox span {
  font-size: 20px;
  align-items: center;
  letter-spacing: 5px;
  padding-left: 2px;
}
.balancebox h2 {
  padding-bottom: 10px;
}
.servicebox,
.Frequentservices {
  border-radius: 10px;
  padding: 15px 10px;
  color: var(--color);
  background-color: var(--second-bg);
  margin-bottom: 20px;
}
.servicebox h1,
.Frequentservices h1 {
  font-size: 30px;
  padding: 10px;
}
.servicebox ul,
.Frequentservicesbox {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 20px;
  padding-bottom: 10px;
}
.servicebox li a,
.Frequentservicesbox div {
  color: var(--color);
  font-size: 16px;
  padding: 10px;
}
.servicebox li a i {
  color: var(--main-color);
  padding-bottom: 10px;
}
.servicebox li a i:hover {
  color: hsl(145, 60%, 50%);
}
.mobiletopupbox {
  border-radius: 10px;
  padding: 25px 15px;
  color: var(--color);
  background-color: var(--second-bg);
  margin-bottom: 160px;
}
.mobiletopupbox form {
  display: grid;
  place-items: center;
  justify-content: center;
  width: 100%;
}
.mobiletopupbox input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 80%);
}
.mobiletopupbox select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  margin-top: 10px;
}
.mobiletopupbox button {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  background-color: var(--main-color);
}
footer {
  display: none;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: var(--second-bg);
  padding: 15px;
  width: 100%;
  max-width: 600px;
  z-index: 100;
}
@media (max-width: 600px) {
  footer {
    display: block;
  }
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  align-items: center;
  text-align: center;
  color: var(--main-color);
  font-size: 17px;
  font-weight: bolder;
}
footer a:hover {
  color: hsl(145, 60%, 50%);
}
footer a span {
  display: block;
}
.morebox {
  display: none;
  width: 100%;
  max-width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  height: 100vh;
}
@media (min-width: 1000px) {
  .morebox {
    display: block;
    height: 100vh;
    background-color: var(--second-bg);
    width: 100%;
    max-width: 400px;
    padding: 15px;
  }
}
.morebox div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.morebox div a i {
  font-size: 2rem;
  color: var(--main-color);
}
.morebox div a i:hover {
  color: hsl(145, 60%, 50%);
}
.morebox h2 {
  font-size: 30px;

  padding-bottom: 10px;
}
.morebox ul li {
  padding: 15px 0px;
  font-size: 17px;
  border-bottom: 1px solid black;
}
.morebox p {
  padding: 15px 0px 30px 0px;
  font-size: 17px;
}
.morebox a {
  color: hsl(145, 60%, 30%);
}
.morebox a:hover {
  color: var(--main-color);
}
