* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-color: hsl(45, 43%, 92%);
  --second-bg: hsl(0, 0%, 100%);
  --main-color: hsl(145, 60%, 40%);
  --color: black;
}
body {
  background-color: var(--bg-color);
}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 20px;
  color: black;
  width: 100%;
  cursor: pointer;
  background-color: var(--second-bg);
  z-index: 100;
}
header h1 {
  color: black;
  font-size: 2rem;
}
header span {
  padding: 0;
  border-radius: 3px;
  color: rgb(27, 56, 28);
  font-family: "Franklin Gothic Medium";
}
.headernav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  font-size: 20px;
  color: black;
}
.headernav a {
  color: black;
}
.headernav details {
  position: relative;
  align-items: center;
  font-size: 20px;
}
.headernav details:hover,
.headernav a:hover {
  font-size: 22px;
}
.headernavdropdown {
  position: absolute;
  left: 130;
  top: 30px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgb(159, 170, 159);
  background-color: var(--second-bg);
  z-index: 101;
}
.headernavdropdown a {
  display: block;
  padding-bottom: 1px;
}
.headerdiv {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.headerdiv button {
  padding: 5px 20px;
  background-color: var(--second-bg);
  border: 1px solid black;
  border-radius: 50px;
}
.headerdiv button:hover {
  color: white;
  background-color: var(--main-color);
  border: none;
  font-size: 17px;
}
.menubar {
  display: none;
  font-size: 1.5rem;
  color: black;
  align-items: center;
}
.menubar:hover {
  color: var(--main-color);
  font-size: 1.7rem;
}
@media (max-width: 700px) {
  .headernav {
    display: none;
    position: fixed;
    top: 60px;
    width: 300px;
    height: 100vh;
    right: 0;
    align-items: center;
    justify-content: start;
    padding: 50px 30px;
    color: black;
    overflow-y: auto;
    background-color: var(--second-bg);
    z-index: 99;
  }
  .headernav.active {
    display: block;
  }
  .headernav details {
    position: relative;
    align-items: center;
    margin-bottom: 25px;
  }
  .headernavdropdown {
    position: absolute;
    left: 90px;
    top: 20px;
    width: max-content;
    padding: 1px;
    background-color: var(--second-bg);
    z-index: 101;
    box-shadow: none;
  }
  .headernav a {
    display: block;
    margin-bottom: 25px;
  }
  .menubar {
    display: block;
  }
}
.homesection {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 100px 20px 50px 20px;
  background-color: var(--bg-color);
}
.firsthomepagediv {
  flex: 2;
  margin-right: 20px;
}
.firsthomepagediv button {
  margin: 100px 0px 40px 30px;
  padding: 10px 25px;
  color: black;
  border-radius: 50px;
  background-color: white;
}
.firsthomepagediv button:hover {
  font-size: 1rem;
}
.firsthomepagediv h1 {
  word-spacing: -15px;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}
.firsthomepagediv p {
  margin-bottom: 30px;
}
.firsthomepagediv a {
  margin-right: 15px;
}
.firsthomepagediv h5 {
  margin-top: 30px;
}
.homesectionimg {
  align-items: center;
  text-align: center;
  height: 400px;
  width: 200px;
  border-radius: 10px;
  flex: 1;
  margin-top: 30px;
}
@media (max-width: 650px) {
  .homesectionimg {
    display: none;
  }
  .firsthomepagediv h1 {
    font-size: 3rem;
  }
  .firsthomepagediv button {
    margin-top: 50px;
  }
}
.letsgetyoustarted {
  padding: 50px 15px;
  color: black;
  background-color: hsl(45, 43%, 86%);
}
.letsgetyoustarted h1 {
  font-size: 30px;
  padding-bottom: 20px;
}
.letsgetyoustartedcontainer {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  margin-bottom: 35px;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}
.letsgetyoustartedbox {
  flex: 0 0 400px;
  border-radius: 10px;
  padding: 20px 5px;
  margin-bottom: 20px;
  background-color: var(--main-color);
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.letsgetyoustartedbox h2 {
  color: black;
  width: 15%;
  padding: 15px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
}
.letsgetyoustartedbox h1 {
  padding-left: 40px;
  font-size: 27px;
}
.letsgetyoustartedbox p {
  padding-left: 40px;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.letsgetyoustarted aside {
  align-items: center;
  text-align: center;
}
.letsgetyoustarted a {
  margin-right: 15px;
}
@media (max-width: 600px) {
  .letsgetyoustartedcontainer {
    display: block;
    overflow: hidden;
  }
  .letsgetyoustartedbox {
    margin-bottom: 25px;
  }
}
.invitesection {
  padding: 20px;
  color: black;
  background-color: var(--bg-color);
}
.invitesection h1 {
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
  margin-bottom: 15px;
}
.invitesection span {
  color: var(--main-color);
}
.invitesection a {
  padding: 10px 25px;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  background-color: hsl(145, 60%, 30%);
}
.invitesection a:hover {
  background-color: hsl(145, 60%, 40%);
}
.invitesectioncontainer {
  padding-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px);
}
.invitesectioncontainer img {
  height: 250px;
  width: 380px;
  border-radius: 20px;
  padding-top: 20px;
  align-items: center;
  text-align: center;
}
.invitesectioncontainer div {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.invitesectioncontainer h1 {
  font-size: 25px;
}
.otherbenefits {
  align-items: center;
  padding: 10px;
}
.otherbenefits h1 {
  font-size: 27px;
}
.otherbenefits h3 {
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.otherbenefitscontainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px);
}
.otherbenefitscontainer div {
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}
.otherbenefitscontainer h1 {
  font-size: 25px;
}
.faq {
  max-width: 500px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  padding-bottom: 20px;
}
.faq h2 {
  padding-bottom: 15px;
  font-weight: bolder;
  font-size: 28px;
}
details {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
  background: hsl(0, 45%, 97%);
}

summary {
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

details[open] summary {
  color: var(--main-color);
  padding-bottom: 15px;
}
